@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Da 2", sans-serif;
  background-color: var(--bodyColor);
}

:root {
  --bodyColor: #fbfbf7;
  --primaryBodyColor: #9dc84f;
  --buttonColor: #00526e;
  --headingColor: #00526e;
  --fontColorMain: #000;
  --fontColorSub: #fff;
  --mainHead: 56px;
  --subMainHead: 48px;
  --thirtySix: 36px;
  --thirtyTwo: 32px;
  --twentyFour: 24px;
  --tweenty: 20px;
  --eighteeen: 18px;
  --peraMain: 16px;
  --peraSubMain: 14px;
}

/* navbar Style */
.navbar {
  background-color: var(--primaryBodyColor);
}

.navbar-nav .nav-item a {
  font-size: var(--tweenty);
  text-decoration: none;
}

.hero-container {
  padding-top: 144px;
  padding-bottom: 80px;
}

.hero-container .row {
  background-color: var(--fontColorSub);
}

.fst-column .container {
  padding-top: 40px !important;
}
.fst-column .container h1 {
  font-size: var(--mainHead);
  margin-inline: 32px;
  font-weight: 700;
  color: var(--headingColor);
}

.fst-column .container p {
  margin-inline: 32px;
  padding-top: 32px;
  margin-bottom: 28px;
  font-weight: 500;
}

.bmi-button {
  background-color: var(--buttonColor);
  color: var(--fontColorSub);
  margin-inline: 32px;
  margin-bottom: 64px;
}

.bmi-button:hover {
  background-color: var(--primaryBodyColor);
  color: var(--fontColorSub);
}

.sec-col {
  background-color: var(--bodyColor) !important;
}

.our-activity-sec {
  background-color: var(--fontColorSub);
  padding-bottom: 24px;
}

.our-activity-container h3 {
  padding-block: 34px !important;
  font-size: var(--subMainHead);
  font-weight: 600;
}

.activity-card {
  background-color: transparent;
  border: none;
}

.activity-card p {
  font-size: var(--eighteeen);
  color: var(--fontColorMain);
  font-weight: 600;
}

.about-container {
  padding-top: 120px;
}

.about-container h3 {
  padding-bottom: 56px;
  font-size: var(--subMainHead);
  font-weight: 600;
}

.about-description {
  font-size: var(--eighteeen);
  font-weight: 500;
  padding: 40px;
}

.read-more {
  background-color: var(--buttonColor);
  color: var(--fontColorSub);
  margin-left: 40px;
  margin-bottom: 40px;
}

.read-more:hover {
  background-color: var(--primaryBodyColor);
  color: var(--fontColorSub);
  margin-left: 40px;
  margin-bottom: 40px;
}

.bmi-row {
  background-color: var(--fontColorSub);
}

.bmi-rate {
  background-color: var(--fontColorSub);
  text-align: center;
  border-radius: 9px;
  font-weight: 600;
  color: var(--buttonColor);
}

.calcu-bmi-btn {
  background: var(--buttonColor) !important;
  border: none;
  color: var(--fontColorSub) !important;
}

.bmi-form {
  background: var(--primaryBodyColor);
  border: none;
}

.bmi-form label {
  color: var(--fontColorSub);
  font-size: var(--twentyFour);
  font-weight: 600;
}

.bmi-stage {
  color: var(--fontColorSub);
  font-size: 16px;
  font-weight: 500;
}

.bmi-is-eq {
  color: var(--headingColor);
  font-size: var(--peraMain);
  font-weight: 400;
  line-height: normal;
}

.bmi-title {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  padding-top: 29px;
}

.bmi-one-col h4 {
  color: #000;
  font-size: 32px;
  font-weight: 600;
}

.bmi-one-col .pera {
  color: #4a3c3c;
  font-size: 16px;
  font-weight: 300;
}

.bmi-one-col span {
  color: #252222;
  font-size: 24px;
  font-weight: 600;
}

.bmi-one-col .span-two {
  color: #252222;
  font-size: 20px;
  font-weight: 500 !important;
  font-family: Poppins;
}

.tab-header-sub-pera {
  font-size: var(--twentyFour);
  font-weight: 500;
  color: var(--headingColor);
  font-family: Poppins;
  word-spacing: 6px;
}

/* This ensures the card-body takes the full width */
.pos-two {
  width: 100%;
  background: var(--fontColorSub);
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

/* This positions the card within the image */
.pos-one {
  position: relative;
}

/* This positions the card relative to its parent */
.pos-two {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.list-group-item {
  border: none;
  background: none;
  padding: 7px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  border-radius: 8px;
  background: #9dc84f;
  color: var(--fontColorSub);
  font-size: var(--twentyFour);
  font-weight: 600;
}

.nav-pills .nav-link {
  color: #7e7272;
  font-size: var(--twentyFour);
  font-weight: 500;
}

.problems {
  font-size: 20px;
  font-weight: 600;
}

.svg-thik {
  width: 20px !important;
  height: 20px !important;
}

.nutration-container {
  border-radius: 16px;
  background: #9dc84f1a;
  padding-block: 56px;
}

.tr-details th {
  color: #00526e !important;
  font-size: var(--twentyFour);
  font-weight: 600;
  /* padding-top: 24px; */
}

.otipusti-tabel-head-point {
  color: #00526e;
  font-size: 20px;
  font-weight: 600;
}

/* Adjust spacing between images */
.team-member {
  position: relative;
  text-align: center;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* Ensure the overlay covers the entire image */
  background-color: #9dc84f8a; /* Adjust the overlay background */
  color: white; /* Adjust the text color */
  padding: 10px; /* Add padding as needed */
  box-sizing: border-box; /* Include padding in width/height */
}

footer {
  background: var(--primaryBodyColor);
  padding: 60px 0px 80px 0px;
  margin-top: 60px;
}

.subscribe-btn {
  border-radius: 8px;
  background: #00526e;
  color: #fff;
}

.subscribe-btn:hover {
  border-radius: 8px;
  background: #00526e;
  color: #fff;
}

.active-item {
  border-bottom: 2px solid var(--buttonColor);
  color: var(--bodyColor);
  padding: 0.3rem 1rem;
  text-decoration: none;
}

.inactive {
  /* background-color: #f8f9fa; */
  color: var(--fontColorSub);
  padding: 0.3rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
}

.blog-c-pra {
  border-radius: 8px;
  background: #9dc84f;
  color: #fff;
  font-weight: 600;
}

.for-blog {
  position: relative;
}

.blog-cate {
  position: absolute;
  top: 7%;
  left: 2%;
}

.text-blog {
  color: #262121;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.blog-date {
  color: #332a2a;
  font-size: 16px;
  font-weight: 400;
}

.counter-container {
  margin-top: 56px;
  background: var(--primaryBodyColor);
  padding-block: 64px;
}

.counter-container .card {
  padding-block: 40px;
}

.fig-number {
  font-size: 40px;
  color: var(--buttonColor);
  font-weight: 600;
}

.counter-title {
  font-size: var(--tweenty);
  color: var(--headingColor);
  font-weight: 500;
}

.name-date {
  font-size: 14px;
}

.view-more-card-btn {
  border: none;
  background: none;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  color: #000;
  /* font-family: var(--fontFamilyTwo); */
  padding-top: 20px;
}

.view-more-card-btn span {
  padding-bottom: 7px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.view-more-card-btn svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.view-more-card-btn:hover svg {
  transform: translateX(0);
}

.view-more-card-btn:active svg {
  transform: scale(0.9);
}

.img-recent-act {
  position: relative;
}


.card-body-recent {
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 8px 8px;
  background: linear-gradient(1deg, #141313 -4.69%, rgba(20, 19, 19, 0.083) 99.5%);
  color: #E0E0E0;
  font-size: 18px;
  font-weight: 500;
}

.card-body-recent a{
  color: #E0E0E0;
}

.our-vision-container {
  margin-top: 120px;
}


.positiong-one {
  border-radius: 16px;
  background: rgba(157, 200, 79, 0.10);
  padding: 40px;
  width:100%;
}



/* responsive style breakpoint */
@media only screen and (max-width: 770px) {
  .our-activity-container h3 {
    font-size: 22px;
    font-weight: 600;
  }
  .about-container h3 {
    font-size: 22px;
    font-weight: 600;
  }
  .activity-card p {
    font-size: 16px;
  }

  .pos-two {
    position: static;
    top: 0;
    left: 0;
    transform: none;
  }

  .pos-one {
    position: static;
    /* margin: auto 50px; */
    padding-bottom: 20px;
  }

  .line-mark {
    display: none;
  }

  .fst-column .container h1 {
    font-size: 36px;
  } 

  .bmi-ratemt p{
    margin-bottom: 0rem !important;
  }
  

  
}
